@import "tailwindcss";

@theme {
      --color-primary-500: oklch(64.8% 0.2 131.684);
      /* oklch(64.6% 0.222 41.116); */
    }

@layer base{
    p{
        font-size:var(--text-1xl);
    }
    a{
        color:blue;
    }
}
@layer components{
    .card {
        @apply bg-amber-200 p-6 rounded-lg shadow hover:shadow-xl transition ;
    }
}